# googlecloud
'httplib2',
'google-api-python-client',
'urllib3',
'oauth2client',

# relationaldb
'pyodbc',

# toolbox
'requests',

# files
#NA

#postgres
'psycopg2',

#hadoop
#'pyhs2',
#'impyla',
#'pexpect',
#'MySQL-python'
